@{
    ViewData["Title"] = "Home Page";
}
@model PeopleRootObject

    <form action="../StarWars/GetPeopleById" method="post">
         <input type="number" name="id" value="" placeholder="People ID" />
        <input type="Submit" name="Submit" value="Submit" /><br />      

    </form><br/>

<form action="../StarWars/GetPlanetById" method="post">
    <input type="number" name="id" value="" placeholder="Planet ID" />
    <input type="Submit" name="Submit" value="Submit" /><br/>
</form><br />

<a href="../StarWars/GetPeopleList" class="btn btn-outline-success">People List</a><br />

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Find People 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @for (int i = 0; i < Model.results.Length; i++)
        {
            <a class="dropdown-item" href="../StarWars/GetPeopleById?id=@(i+1)">@Model.results[i].name</a>
        }
    </div>
</div>

